manifest {

    author          = "Eachan Johnson"
    homePage        = "https://github.com/scbirlab/nf-ont-call-variants"
    description     = "Assemble and call variants from Nanopore FASTQ files."
    // defaultBranch   = "v0.0.3"
    nextflowVersion = '!>=22.10.1'
    version         = "0.0.3"
    doi             = ''

}

params {

    /* Required */
    sample_sheet = null
    genome_fasta = null
    snpeff_database = null

    /* Optional */
    gatk_image = "docker://broadinstitute/gatk:latest"
    snpeff_url = "https://snpeff.blob.core.windows.net/versions/snpEff_latest_core.zip"
    clair3_image = "docker://hkubal/clair3:latest"
    inputs = "${launchDir}/inputs"
    outputs = "${launchDir}/outputs"
    trim_qual = 10
    min_length = 10

}

process.conda = "${projectDir}/environment.yml"
conda {
  createTimeout = '2h'
  enabled = true
}

profiles {

  standard {

    process {
      executor = 'slurm'

      withLabel: big_cpu {
        cpus = 8
        memory = 64.GB
      }

      withLabel: some_mem {
        memory = 16.GB
      }

      withLabel: med_mem {
        memory = 64.GB
      }

    }

    dag {
      enabled = true
      overwrite = true
    }

    notification {
      enabled = true
      to = "$USER@crick.ac.uk"
    }

  }

  gh {

    conda.useMamba = true

    process {
      executor = 'local'

      withLabel: big_cpu {
        cpus = 1
        memory = 12.GB
      }

      withLabel: some_mem {
        memory = 12.GB
      }

      withLabel: med_mem {
        memory = 12.GB
      }

    }

  }

}