manifest {

    author          = "Eachan Johnson"
    homePage        = "https://github.com/scbirlab/nf-ont-call-variants"
    description     = "Assemble and call variants from Nanopore FASTQ files using GATK."
    defaultBranch   = "main"
    nextflowVersion = '!>=22.10.1'
    version         = "0.0.2"
    doi             = ''

}

params {

    /* Required */
    gatk_path = null
    picard_path = null
    snpeff_path = null

    sample_sheet = null
    
    genome_fasta = null
    snpeff_database = null

    /* Optional */
    trim_qual = 10
    min_length = 10

}

profiles {

  standard {

    conda.enabled = true
    conda.useMamba = true
    process.conda = "${projectDir}/environment.yml"
    process.executor = 'slurm'
    notification.enabled = true
    notification.to = "$USER@crick.ac.uk"

  }

}